@model VideoProject.Models.Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<p>Subscrition: @Model.MembershipType.Name</p>

@if (@Model.BirthDate != null)
{
    <p>BirthDate: @Model.BirthDate.Value.ToString("MM/dd/yyyy")</p>
}
