@model List<VideoProject.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>Customer</th>
        <th>Discount rate</th>
    </tr>
    @foreach (var cust in Model)
    {
        <tr>
            <td>@Html.ActionLink(@cust.Name.ToString(), "Details/" + cust.Id, "Customers")</td>
            <td>@cust.MembershipType.DiscountRate%</td>
        </tr>
    }
</table>