@model List<VideoProject.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-condensed">
    <tr>
        <th>Customer</th>
        <th>Discount rate</th>
        <th>Discount name</th>
    </tr>
    @foreach (var cust in Model)
    {
<tr>
    <td>@Html.ActionLink(@cust.Name.ToString(), "Edit/" + cust.Id.ToString(), "Customers")</td>
    <td>@cust.MembershipType.DiscountRate%</td>
    <td>@cust.MembershipType.Name</td>
</tr>
    }
</table>